<div class="menu">
 <div class="container">
 <ul class="nav nav-tabs pull-left">
  <li><%= link_to "Welcome", :root %></li>
  <li class="active"><a href="#">Portfolio</a></li>
  <li><%= link_to "Blog", "https://medium.com/" %></li>
  <li><a href="#">Contact</a></li>
 </ul>
 </div>
</div>

<div class="main">
 <div class="container">
   
   <!--<script src="//code.jquery.com/jquery-latest.min.js"></script>
	 <script src="//unslider.com/unslider.min.js"></script>-->
   
   <!-- <%= javascript_include_tag "unslider" %> -->
   
   <div class="banner">
      <ul>        				
        <li><img src="https://photos-3.dropbox.com/t/2/AACh24H85KxKikrHbFJzivFvfJyjeRJx0zntGADvWMlq1w/12/427938538/jpeg/32x32/1/1433001600/0/2/bass-music-1.JPG/COqlh8wBIAEgAiADIAQgBSAGIAcoAg/eGy1Pq-YQFKIS5rq_TREE8rvnBec4lV1tNQj9ad-Z20?size=1024x768&size_mode=2"></li>
        <li><img src="https://photos-4.dropbox.com/t/2/AADyIvLJEqBS0wmcKOlXoFzHz6Y3Q4KPq2Qpnm6DgyQFqg/12/427938538/jpeg/32x32/1/1433001600/0/2/blt-nt-scr-3.JPG/COqlh8wBIAEgAiADIAQgBSAGIAcoAg/ZflUsuIo3k5APkr19JkWJPCo7W8N2D0GlFJ2ZosmaxM?size=1024x768&size_mode=2"></li>
        <li><img src="https://photos-1.dropbox.com/t/2/AADefRM3NBXffrGwjc2hY5x-_yg1025ihT6Ij7hMamNvxQ/12/427938538/jpeg/32x32/1/1433001600/0/2/bookmarks-2.JPG/COqlh8wBIAEgAiADIAQgBSAGIAcoAg/CvwFZHlQpFdLvhP0QvsoMmXhuzkkfh55RQRIYPr7z50?size=1024x768&size_mode=2"></li>
      </ul>
   </div>
 		<script>
     $(function() {
    		$('.banner').unslider({
          dots: true,
          delay: 3000,
          speed: 1000
        });
		 });
   </script>
   
 </div>
</div>

<div class="supporting">
  <div class="container">
    
    <div class="app">
      <h2>Bolt Network</h2>
      <div class="row">
       <div class="col-md-4">
      	<a href="https://bolt-network-rails.herokuapp.com/" class="thumbnail">
      	 <img src="https://photos-3.dropbox.com/t/2/AACcJWY3mlhYMr24mvMb3_oiT2dYP7miwTg8wleB2FYvJQ/12/427938538/jpeg/32x32/1/1432998000/0/2/blt-nt-scr-1.JPG/COqlh8wBIAEgAiADIAQgBSAGIAcoAg/EaKX329L5Os0pnKxbkwxF-kK12OcVSec2ZJkDo6twPo?size=1024x768&size_mode=2">
    	  </a>
       </div>
       <div class="col-md-4">
    	  <a href="https://bolt-network-rails.herokuapp.com/" class="thumbnail">
 	     	 <img src="https://photos-6.dropbox.com/t/2/AAD5OC5PTyrCzePBvNP6GePN2izW_feHhk0rXBEOsgqLgA/12/427938538/jpeg/32x32/1/1432998000/0/2/blt-nt-scr-2.JPG/COqlh8wBIAEgAiADIAQgBSAGIAcoAg/jIl-pHwTXQR_oXzEIORfDJYTZ80kPgHBNYmlslMu4CU?size=1024x768&size_mode=2">
  	    </a>
       </div>
       <div class="col-md-4">
      	<a href="https://bolt-network-rails.herokuapp.com/" class="thumbnail">
  	     <img src="https://photos-5.dropbox.com/t/2/AACg7rCe380CUEACbyjL10N51_XVwP7yKSA5X347IMgbOw/12/427938538/jpeg/32x32/1/1432998000/0/2/blt-nt-scr-3.JPG/COqlh8wBIAEgAiADIAQgBSAGIAcoAg/ZflUsuIo3k5APkr19JkWJPCo7W8N2D0GlFJ2ZosmaxM?size=1024x768&size_mode=2">
        </a>
       </div> 
      </div>
      <h3>Rails app with a Home page and an About page.</h3>
     	<a href="https://bolt-network-rails.herokuapp.com/">View app</a>
    </div>
    
  </div>
</div>