<div class="header">
<div class="container">
 <ul class="nav nav-tabs pull-left">
  <li class="active"><a href="#">Welcome</a></li>
  <li><a href="#">Portfolio</a></li>
  <li><a href="#">Contact</a></li>
 </ul>
 <h4 class="pull-right">Derp Derpenko</h4>
</div>
</div>

<div class="main">
 <div class="container">
  <div class="jumbotron">
   <h1>I make awesome RoR apps!</h1>
   <a href=# class="btn btn-primary">View my work</a>
  </div>
 </div>
</div>

<div class="footer">
 <div class="social">
  
  
	  <div class="btn-group pull-left">
	   <a class="btn btn-default" href="https://github.com/"><%= image_tag "http://cdn.flaticon.com/png/256/25231.png"%></a>
 	   <a class="btn btn-default" href="https://www.linkedin.com"><%= image_tag "http://cdn.flaticon.com/png/256/8707.png"%></a>
 	   <a class="btn btn-default" href="https://twitter.com"><%= image_tag "http://cdn.flaticon.com/png/256/10033.png"%></a>
  	</div>
 	
 	  <h4 class="pull-right">&#169; Derp Derpenko</h4>
	 

 </div>
</div>