// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
 padding-left: 20px;
 padding-right: 20px; 
}

/*.jumbotron {
 background-size: cover;
 background-repeat: no-repeat;
 background-image: url();
 color: #006699;
}*/

.jumbotron h1 {
 text-shadow: 2px 2px 2px darkgrey;
}


.supporting {
 margin-top: 100px;
}


//unslider css (required)
.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }
        
//css for dots navigation to work
.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: #fff;
  opacity: 1;
}